{% extends 'base.html.twig' %}

{% block title %}{{ 'security.login.authentication' | trans }}{% endblock %}

{% block body %}
    <nav id="website-navigation">
        {% include 'website/navigation.html.twig' %}
    </nav>
    <div class="container pt-5 pb-5">
        <div class="card min-vh-100 vh-100">
            <div class="card-body">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger"
                             role="alert">{{ error.messageKey | trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'security.login.authentication' | trans }}</h1>
                    <div class="form-group">
                        <div class="row">
                            <div class="col">
                                <label for="inputEmail">{{ 'security.login.email' | trans }}</label>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control"
                                       required
                                       autofocus>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="inputPassword">{{ 'security.login.password' | trans }}</label>
                                <input type="password" name="password" id="inputPassword" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox"
                                               name="_remember_me">{{ 'security.login.remember' | trans }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <button class="btn" type="button" data-toggle="modal"
                                    data-target="#passwordForgottenModal">TODO ?
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col">
                            <button class="btn btn-lg btn-primary" type="submit">
                                {{ 'security.login.submit' | trans }}
                            </button>
                            <a href="{{ path('security_register') }}" class="btn btn-lg btn-secondary">
                                {{ 'security.login.register' | trans }}
                            </a>
                        </div>
                    </div>
                </form>
                <div class="modal fade" id="passwordForgottenModal" tabindex="-1" role="dialog"
                     aria-labelledby="passwordForgottenModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="passwordForgottenModalTitle">TODO</h5>
                            </div>
                            <div class="modal-body"></div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                    {{ 'security.login.cancel' | trans }}
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {{ 'security.login.submit' | trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
