{% extends 'base.html.twig' %}
{% block title %}
    {{ 'security.reset.title' | trans }}
{% endblock %}
{% block navigation %}
{% endblock %}
{% block body %}
    <div class="container">

        <!-- Security Password Reset Form -->

        <div class="card">
            {{ form_start(passwordResetForm, {'action': path('security_password_update', {'id': id, 'key': key})}) }}

            <!-- Security Password Reset Title -->

            <div class="card-header">
                <h5 class="h5 font-weight-normal">
                    {{ 'security.reset.title' | trans }}
                </h5>
            </div>

            <!-- Security Password Reset Content -->

            <div class="card-body">

                {% if app.request.get('error') %}

                    <!-- Security Password Reset Errors -->

                    <p class="alert alert-danger">
                        {{ app.request.get('error') | trans }}
                    </p>
                {% endif %}
                <div class="row">

                    <!-- Security Password Reset Password -->

                    <div class="col-12">
                        {{ form_label(passwordResetForm.plainPassword.first) }}
                        {{ form_widget(passwordResetForm.plainPassword.first, {
                            'attr': {
                                'class': 'form-control',
                                'aria-label': 'security.reset.password' | trans
                            }
                        }) }}
                    </div>

                    <!-- Security Password Reset Password Confirmation -->

                    <div class="col-12">
                        {{ form_label(passwordResetForm.plainPassword.second) }}
                        {{ form_widget(passwordResetForm.plainPassword.second, {
                            'attr': {
                                'class': 'form-control',
                                'aria-label': 'security.reset.confirm_password' | trans
                            }
                        }) }}
                    </div>
                </div>
            </div>

            <!-- Security Password Reset Actions -->

            <div class="card-footer">
                <button class="btn btn-lg btn-outline-primary" type="submit">
                    {{ 'security.login.submit' | trans }}
                </button>
            </div>
            {{ form_end(passwordResetForm) }}
        </div>
    </div>
{% endblock %}
