{% extends 'base.html.twig' %}

{% block title %}{{ 'account.profile' | trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="card">
            <div class="card-body">
                {% if not passwordForm.vars.valid %}
                    <div class="alert alert-danger">
                        {{ form_errors(passwordForm.oldPassword) }}
                        {{ form_errors(passwordForm.plainPassword.first) }}
                        {{ form_errors(passwordForm.plainPassword.second) }}
                    </div>
                {% endif %}
                {% if not profileForm.vars.valid %}
                    <div class="alert alert-danger">
                        {{ form_errors(profileForm.firstName) }}
                        {{ form_errors(profileForm.lastName) }}
                        {{ form_errors(profileForm.country) }}
                        {{ form_errors(profileForm.phoneNumber) }}
                    </div>
                {% endif %}
                {% if not accountDeletionForm.vars.valid %}
                    <div class="alert alert-danger">
                        {{ form_errors(accountDeletionForm.password) }}
                    </div>
                {% endif %}
                {{ form_start(profileForm) }}
                <h1 class="h3 mb-3 font-weight-normal">{{ 'account.profile' | trans }}</h1>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ form_label(profileForm.firstName) }}
                            {{ form_widget(profileForm.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="col">
                            {{ form_label(profileForm.lastName) }}
                            {{ form_widget(profileForm.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(profileForm.country) }}
                            {{ form_widget(profileForm.country, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(profileForm.phoneNumber) }}
                            {{ form_widget(profileForm.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="changeEmailModal" tabindex="-1" role="dialog"
                     aria-labelledby="changeEmailModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="changeEmailModalTitle">{{ 'account.change_email' | trans }}</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        {{ form_label(profileForm.email) }}
                                        {{ form_widget(profileForm.email, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                    {{ 'account.cancel' | trans }}
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {{ 'account.submit' | trans }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg btn-primary" type="submit">
                            {{ 'account.submit' | trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(profileForm) }}
            </div>
            <div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog"
                 aria-labelledby="changePasswordModalTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        {{ form_start(passwordForm) }}
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="changePasswordModalTitle">{{ 'account.change_password' | trans }}</h5>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col">
                                    {{ form_label(passwordForm.oldPassword) }}
                                    {{ form_widget(passwordForm.oldPassword, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_label(passwordForm.plainPassword.first) }}
                                    {{ form_widget(passwordForm.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    {{ form_label(passwordForm.plainPassword.second) }}
                                    {{ form_widget(passwordForm.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                {{ 'account.cancel' | trans }}
                            </button>
                            <button class="btn btn-primary" type="submit">
                                {{ 'account.submit' | trans }}
                            </button>
                        </div>
                        {{ form_end(passwordForm) }}
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row justify-content-around">
                    <div class="col-3">
                        <button class="btn btn-outline-danger" type="button" data-toggle="modal"
                                data-target="#changeEmailModal">
                            {{ 'account.edit_email' | trans }}
                        </button>
                    </div>
                    <div class="col-3">
                        <button class="btn btn-outline-danger" type="button" data-toggle="modal"
                                data-target="#changePasswordModal">
                            {{ 'account.edit_password' | trans }}
                        </button>
                    </div>
                </div>
                <div class="modal fade" id="deleteAccountModal" tabindex="-1" role="dialog"
                     aria-labelledby="deleteAccountModalTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            {{ form_start(accountDeletionForm) }}
                            <div class="modal-header">
                                <h5 class="modal-title"
                                    id="deleteAccountModalTitle">{{ 'account.delete' | trans }}</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col">
                                        <p class="text-danger">{{ 'account.deletion' | trans }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        {{ form_label(accountDeletionForm.password) }}
                                        {{ form_widget(accountDeletionForm.password, {'attr': {'class': 'form-control'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">
                                    {{ 'account.cancel' | trans }}
                                </button>
                                <button class="btn btn-primary" type="submit">
                                    {{ 'account.submit' | trans }}
                                </button>
                            </div>
                            {{ form_end(accountDeletionForm) }}
                        </div>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <button class="btn btn-block btn-danger" type="button" data-toggle="modal"
                                data-target="#deleteAccountModal">
                            {{ 'account.delete' | trans }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
