{% extends 'base.html.twig' %}

{% block title %}{{ 'security.register.registration' | trans }}{% endblock %}

{% block body %}
    <nav id="website-navigation">
        {% include 'website/navigation.html.twig' %}
    </nav>
    <div class="container pt-5 pb-5">
        <div class="card min-vh-100 vh-100">
            <div class="card-body">
                {{ form_start(registrationForm) }}
                <h1 class="h3 mb-3 font-weight-normal">{{ 'security.register.registration' | trans }}</h1>
                <div class="form-group">
                    <div class="row">
                        <div class="col">
                            {{ form_label(registrationForm.firstName) }}
                            {{ form_widget(registrationForm.firstName, {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                        <div class="col">
                            {{ form_label(registrationForm.lastName) }}
                            {{ form_widget(registrationForm.lastName, {
                                'attr': {'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(registrationForm.email) }}
                            {{ form_widget(registrationForm.email, {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(registrationForm.country) }}
                            {{ form_widget(registrationForm.country, {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(registrationForm.phoneNumber) }}
                            {{ form_widget(registrationForm.phoneNumber, {
                                'attr': {
                                    'class': 'form-control'}
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(registrationForm.plainPassword.first) }}
                            {{ form_widget(registrationForm.plainPassword.first, {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ form_label(registrationForm.plainPassword.second) }}
                            {{ form_widget(registrationForm.plainPassword.second, {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-lg btn-primary" type="submit">
                            {{ 'security.register.submit' | trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
