{% block portfolio_header %}

    <!-- Portfolio Header -->

    <div id="header-jumbotron" class="jumbotron jumbotron-fluid min-vh-100">

        <!-- Portfolio Header Jumbotron -->

        <div class="container text-center">

            <!-- Portfolio Header Greetings -->

            <h1 class="h1 font-weight-normal display-3 mt-5 element-typed">
                {{ 'portfolio.header.greetings' | trans }}
            </h1>

            <!-- Portfolio Header Introduction -->

            <p class="lead mt-5 element-fade-in-left">
                {{ 'portfolio.header.introduction' | trans }}
            </p>

            <!-- Portfolio Header Information -->

            <div class="row mt-5">

                <!-- Portfolio Header Address -->

                <div class="col-12 col-md-4 element-fade-in-bottom">
                    <i class="fa fa-map-marker"></i>
                    {{ 'portfolio.header.address' | trans }}
                </div>

                <!-- Portfolio Header E-Mail -->

                <div class="col-12 col-md-4 element-fade-in-bottom">
                    <i class="fa fa-envelope"></i>
                    {{ 'portfolio.header.email' | trans }}
                </div>

                <!-- Portfolio Header Phone -->

                <div class="col-12 col-md-4 element-fade-in-bottom">
                    <i class="fa fa-phone-alt"></i>
                    {{ 'portfolio.header.phone' | trans }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
