{% extends 'base.html.twig' %}

{% block title %}{{ 'portfolio.index.title' | trans }}{% endblock %}
{% block body %}
    <div class="container-fluid min-vh-100 vh-100">
        <div class="row">
            <div class="col-12">
                <div>{{ 'portfolio.index.title' | trans }}</div>
                <ul class="dropdown">
                    <li><a href="#">{{ 'portfolio.index.projects' | trans }}</a></li>
                    <li><a href="#">{{ 'portfolio.index.resume' | trans }}</a></li>
                    <li><a href="#">{{ 'portfolio.index.about' | trans }}</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
