{% extends 'base.html.twig' %}

{% block title %}{{ 'portfolio.title' | trans }}{% endblock %}
{% block header %}
    <!-- TODO: Create custom CSS navbar -->
    <!--
    <div class="row">
        <div>{{ 'portfolio.title' | trans }}</div>
        <ul class="dropdown">
            <li><a href="#">{{ 'portfolio.projects' | trans }}</a></li>
            <li><a href="#">{{ 'portfolio.resume' | trans }}</a></li>
            <li><a href="#">{{ 'portfolio.about_me' | trans }}</a></li>
        </ul>
    </div>
    -->
{% endblock %}
{% block body %}
    <div class="container"></div>
{% endblock %}
{% block footer %}
    <footer></footer>
{% endblock %}
