{% block portfolio_timeline %}

    <!-- Portfolio Timeline -->

    <div class="container-fluid">
        <div class="row">

            <!-- Portfolio Timeline Title -->

            <div class="col-12 pt-3">
                <h1 class="h1 font-weight-normal text-white element-fade-in-left">
                    {{ 'portfolio.timeline.title' | trans }}
                </h1>
            </div>
            <div class="col-12">

                <!-- Portfolio Timeline Content -->

                <div class="timeline">

                    <!-- Portfolio Timeline Epitech -->

                    <div class="timeline-container timeline-container-left">
                        <div class="timeline-content element-fade-in-left element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.epitech_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.epitech' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Orchestra -->

                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content element-fade-in-right element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.orchestra_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.orchestra' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Cadageo -->

                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content element-fade-in-right element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.cadageo_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.cadageo' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Abroad -->

                    <div class="timeline-container timeline-container-left">
                        <div class="timeline-content element-fade-in-left element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.abroad_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.abroad' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Webacademie -->

                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content element-fade-in-right element-grow">
                            <h2 class="h2">{{ 'portfolio.timeline.webacademie_date' | trans }}</h2>
                            <p>{{ 'portfolio.timeline.webacademie' | trans }}</p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Sopra -->

                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content element-fade-in-right element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.sopra_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.sopra' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Graduation -->

                    <div class="timeline-container timeline-container-left">
                        <div class="timeline-content element-fade-in-left element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.graduation_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.graduation' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Capgemini -->

                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content element-fade-in-right element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.capgemini_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.capgemini' | trans }}
                            </p>
                        </div>
                    </div>

                    <!-- Portfolio Timeline Freelance -->

                    <div class="timeline-container timeline-container-right">
                        <div class="timeline-content element-fade-in-right element-grow">
                            <h2 class="h2">
                                {{ 'portfolio.timeline.freelance_date' | trans }}
                            </h2>
                            <p>
                                {{ 'portfolio.timeline.freelance' | trans }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
