{% block contact %}
    <div class="container-fluid">
        <div class="row m-3">
            <div class="col-12">
                <h1 class="h1">
                    {{ 'website.contact.contact' | trans }}
                </h1>
            </div>
        </div>
        <div class="container">
            {{ form_start(contactForm, {'action': path('website_contact')}) }}
            <div class="form-group">
                <div class="row m-3">
                    <div class="col-12">
                        {{ form_label(contactForm.name) }}
                        {{ form_widget(contactForm.name, {
                            'attr': {
                                'class': 'form-control element-fade-in-left'
                            }
                        }) }}
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-12">
                        {{ form_label(contactForm.email) }}
                        {{ form_widget(contactForm.email, {
                            'attr': {
                                'class': 'form-control element-fade-in-left'
                            }
                        }) }}
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-12">
                        {{ form_label(contactForm.object) }}
                        {{ form_widget(contactForm.object, {
                            'attr': {
                                'class': 'form-control element-fade-in-left'}
                        }) }}
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-12">
                        {{ form_label(contactForm.content) }}
                        {{ form_widget(contactForm.content, {
                            'attr': {
                                'class': 'form-control element-fade-in-left'
                            }
                        }) }}
                    </div>
                </div>
                <div class="row m-3">
                    <div class="col-12 p-3">
                        <button class="btn btn-lg btn-primary element-fade-in-fix" type="submit">
                            {{ 'website.contact.submit' | trans }}
                        </button>
                    </div>
                </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
{% endblock %}
