{% block website_footer %}

    <!-- Website Footer -->

    <div class="container-fluid">
        <div class="row mt-3">

            <!-- Website Footer Page List -->

            <div class="col-12 col-md-7">
                <div class="row">

                    <!-- Website Footer Page Home -->

                    <div class="col-12 p-2">
                        <a class="text-white element-fade-in-fix" href="{{ path('website_index') }}">
                            {{ 'website.footer.home' | trans }}
                        </a>
                    </div>

                    <!-- Website Footer Page Profile -->

                    <div class="col-12 p-2">
                        <a class="text-white element-fade-in-fix" href="{{ path('profile_index') }}">
                            {{ 'website.footer.profile' | trans }}
                        </a>
                    </div>

                    <!-- Website Footer Page Portfolio -->

                    <div class="col-12 p-2">
                        <a class="text-white element-fade-in-fix" href="{{ path('portfolio_index') }}">
                            {{ 'website.footer.portfolio' | trans }}
                        </a>
                    </div>

                    <!-- Website Footer Page Resume -->

                    <div class="col-12 p-2">
                        <a class="text-white element-fade-in-fix"
                           href="{{ asset('build/website/Nicolas_FEZ_CV.pdf') }}">
                            {{ 'website.footer.resume' | trans }}
                        </a>
                    </div>
                </div>
            </div>

            <!-- Website Footer Social List -->

            <div class="col-12 col-md-5">
                <div class="row">

                    <!-- Website Footer Social Message -->

                    <div class="col-12">
                        <h3 class="h3 font-weight-normal text-white element-fade-in-fix">
                            {{ 'website.footer.follow' | trans }}
                        </h3>
                    </div>

                    <!-- Website Footer Social Github -->

                    <div class="col-6 col-sm-3 p-2 text-center">
                        <a class="element-fade-in-fix" href="https://github.com/Aineph">
                            <img class="d-inline-block"
                                 src="{{ asset('build/website/footer/GitHub-Mark-Light-120px-plus.png') }}"
                                 alt="{{ 'website.footer.github_alt' | trans }}" width="25px" height="25px"/>
                            <p class="d-inline-block text-white">
                                {{ 'website.footer.github' | trans }}
                            </p>
                        </a>
                    </div>

                    <!-- Website Footer Social Linkedin -->

                    <div class="col-6 col-sm-3 p-2 text-center">
                        <a class="element-fade-in-fix" href="https://www.linkedin.com/in/nicolas-fez/">
                            <img class="d-inline-block" src="{{ asset('build/website/footer/LI-In-Bug.png') }}"
                                 alt="{{ 'website.footer.linkedin_alt' | trans }}" width="25px" height="25px"/>
                            <p class="d-inline-block text-white">
                                {{ 'website.footer.linkedin' | trans }}
                            </p>
                        </a>
                    </div>

                    <!-- Website Footer Social Soundcloud -->

                    <div class="col-6 col-sm-3 p-2 text-center">
                        <a class="element-fade-in-fix" href="https://soundcloud.com/nicolas-fez">
                            <img class="d-inline-block"
                                 src="{{ asset('build/website/footer/orange_white_64-94fc761.png') }}"
                                 alt="{{ 'website.footer.soundcloud_alt' | trans }}" width="25px" height="25px"/>
                            <p class="d-inline-block text-white">
                                {{ 'website.footer.soundcloud' | trans }}
                            </p>
                        </a>
                    </div>

                    <!-- Website Footer Social Malt -->

                    <div class="col-6 col-sm-3 p-2 text-center">
                        <a class="element-fade-in-fix" href="https://www.malt.fr/profile/nicolasfez">
                            <img class="d-inline-block" src="{{ asset('build/website/footer/malt_picto_color.png') }}"
                                 alt="{{ 'website.footer.malt_alt' | trans }}" width="25px" height="25px"/>
                            <p class="d-inline-block text-white">
                                {{ 'website.footer.malt' | trans }}
                            </p>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Website Footer Page Copyright -->

            <div class="col-12">
                <p class="text-white element-fade-in-fix">
                    {{ 'website.footer.copyright' | trans }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
