{% block navbar %}
    <div class="navbar navbar-dark navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="{{ path('website_index') }}">{{ 'website.navigation.home' | trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation-navbar"
                aria-controls="navigation-navbar" aria-expanded="false"
                aria-label="{{ 'website.navigation.toggle' | trans }}">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="navigation-navbar" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('portfolio_index') }}">
                        {{ 'website.navigation.portfolio' | trans }}
                    </a>
                </li>
                {% if app.request.attributes.get('_route') is same as('website_index') %}
                    <li class="nav-item">
                        <a class="nav-link" href="#index-prestation">{{ 'website.navigation.services' | trans }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#index-contact">{{ 'website.navigation.contact' | trans }}</a>
                    </li>
                {% endif %}
                {% if app.user %}
                    {% for role in app.user.roles %}
                        {% if role is same as('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_index') }}">
                                    {{ 'website.navigation.admin' | trans }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navigation-dropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ 'website.navigation.language' | trans }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navigation-dropdown">
                        {% for locale in locales() %}
                            <a class="dropdown-item"
                                    {% if app.request.locale == locale.code %}
                                        aria-checked="true"
                                    {% endif %}
                               href="{{ path(
                                   app.request.get('_route', 'website_index'),
                                   app.request.get('_route_params', []) | merge({_locale: locale.code})) }}">
                                {{ locale.name | capitalize }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search"
                       placeholder="{{ 'website.navigation.search' | trans }}"
                       aria-label="{{ 'website.navigation.search' | trans }}">
                <button class="btn btn-outline-success my-2 my-sm-0"
                        type="submit">{{ 'website.navigation.search' | trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}
