{% block website_process %}

    <!-- Website Process -->

    <div class="container-fluid">

        <!-- Website Process Title -->

        <div class="row">
            <div class="col-12 pt-3">
                <h1 class="h1 font-weight-normal text-white">
                    {{ 'website.process.collaborate' | trans }}
                </h1>
            </div>
        </div>

        <!-- Website Process List -->

        <div class="row">

            <!-- Website Process Quote -->

            <div class="col-12 col-xl-4 p-3">
                <div class="h-100 text-center element-inverted element-fade-in-bottom element-grow">
                    <img src="{{ asset('build/website/process/quote.svg') }}"
                         alt="{{ 'website.process.quote' | trans }}" width="50px"
                         height="50px"/>
                    <p class="card-text">
                        {{ 'website.process.quote' | trans }}
                    </p>
                    <p class="card-text text-muted small">
                        {{ 'website.process.quote_detail' | trans }}
                    </p>
                </div>
            </div>

            <!-- Website Process Agreement -->

            <div class="col-12 col-xl-4 p-3">
                <div class="h-100 text-center element-inverted element-fade-in-bottom element-grow">
                    <img src="{{ asset('build/website/process/agreement.svg') }}"
                         alt="{{ 'website.process.agreement' | trans }}" width="50px"
                         height="50px"/>
                    <p class="card-text">
                        {{ 'website.process.agreement' | trans }}
                    </p>
                    <p class="card-text text-muted small">
                        {{ 'website.process.agreement_detail' | trans }}
                    </p>
                </div>
            </div>

            <!-- Website Process Work -->

            <div class="col-12 col-xl-4 p-3">
                <div class="h-100 text-center element-inverted element-fade-in-bottom element-grow">
                    <img src="{{ asset('build/website/process/work.svg') }}"
                         alt="{{ 'website.process.work' | trans }}" width="50px"
                         height="50px"/>
                    <p class="card-text">
                        {{ 'website.process.work' | trans }}
                    </p>
                    <p class="card-text text-muted small">
                        {{ 'website.process.work_detail' | trans }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
