{% block website_proficiency %}

    <!-- Website Proficiency -->

    <div class="container-fluid">

        <!-- Website Proficiency Title -->

        <div class="row">
            <div class="col-12 pt-3">
                <h1 class="h1 font-weight-normal">
                    {{ 'website.proficiency.skills' | trans }}
                </h1>
            </div>
        </div>

        <!-- Website Proficiency List -->

        <div class="row">

            <!-- Website Proficiency Autonomous -->

            <div class="col-12 col-xl-4 p-3">
                <div class="h-100 text-center element-fade-in-bottom element-grow">
                    <img src="{{ asset('build/website/proficiency/autonomous.svg') }}"
                         alt="{{ 'website.proficiency.autonomous' | trans }}" width="50px"
                         height="50px"/>
                    <p class="card-text">
                        {{ 'website.proficiency.autonomous' | trans }}
                    </p>
                    <p class="card-text text-muted small">
                        {{ 'website.proficiency.autonomous_detail' | trans }}
                    </p>
                </div>
            </div>

            <!-- Website Proficiency Rigorous -->

            <div class="col-12 col-xl-4 p-3">
                <div class="h-100 text-center element-fade-in-bottom element-grow">
                    <img src="{{ asset('build/website/proficiency/rigorous.svg') }}"
                         alt="{{ 'website.proficiency.rigorous' | trans }}" width="50px"
                         height="50px"/>
                    <p class="card-text">
                        {{ 'website.proficiency.rigorous' | trans }}
                    </p>
                    <p class="card-text text-muted small">
                        {{ 'website.proficiency.rigorous_detail' | trans }}
                    </p>
                </div>
            </div>

            <!-- Website Proficiency Creative -->

            <div class="col-12 col-xl-4 p-3">
                <div class="h-100 text-center element-fade-in-bottom element-grow">
                    <img src="{{ asset('build/website/proficiency/creative.svg') }}"
                         alt="{{ 'website.proficiency.creative' | trans }}" width="50px"
                         height="50px"/>
                    <p class="card-text">
                        {{ 'website.proficiency.creative' | trans }}
                    </p>
                    <p class="card-text text-muted small">
                        {{ 'website.proficiency.creative_detail' | trans }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
