{% block website_services %}

    <!-- Website Services -->

    <div class="container-fluid">

        <!-- Website Services Title -->

        <div class="row">
            <div class="col-12 pt-3">
                <h1 class="h1 font-weight-normal text-white">
                    {{ 'website.prestation.services' | trans }}
                </h1>
            </div>
        </div>

        <!-- Website Services List -->

        <div class="row">

            <!-- Website Services Software -->

            <div class="col-12 col-lg-8 col-xl-9">
                <div class="container align-items-center">

                    <!-- Website Services Software Title -->

                    <div class="row">
                        <div class="col-12 text-center">
                            <h3 class="h3 font-weight-normal text-white element-fade-in-fix">
                                {{ 'website.prestation.software' | trans }}
                            </h3>
                        </div>

                        <!-- Website Services Software System -->

                        <div class="col-12 col-md-6 col-xl-4 p-3">
                            <div class="card h-100 text-center element-fade-in-left element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/system.svg') }}"
                                         alt="{{ 'website.prestation.system' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.system_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.system' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Website Services Software Embedded -->

                        <div class="col-12 col-md-6 col-xl-4 p-3">
                            <div class="card h-100 text-center element-fade-in-left element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/embedded.svg') }}"
                                         alt="{{ 'website.prestation.embedded' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.embedded_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.embedded' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Website Services Software Security -->

                        <div class="col-12 col-md-6 col-xl-4 p-3">
                            <div class="card h-100 text-center element-fade-in-left element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/security.svg') }}"
                                         alt="{{ 'website.prestation.security' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.security_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.security' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Website Services Software Website -->

                        <div class="col-12 col-md-6 col-xl-4 p-3">
                            <div class="card h-100 text-center element-fade-in-left element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/website.svg') }}"
                                         alt="{{ 'website.prestation.website' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.website_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.website' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Website Services Software Mobile -->

                        <div class="col-12 col-md-6 col-xl-4 p-3">
                            <div class="card h-100 text-center element-fade-in-left element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/mobile.svg') }}"
                                         alt="{{ 'website.prestation.mobile' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.mobile_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.mobile' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Website Services Software Database -->

                        <div class="col-12 col-md-6 col-xl-4 p-3">
                            <div class="card h-100 text-center element-fade-in-left element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/database.svg') }}"
                                         alt="{{ 'website.prestation.database' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.database_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.database' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Website Services Music -->

            <div class="col-12 col-lg-4 col-xl-3">
                <div class="container align-items-center">

                    <!-- Website Services Music Title -->

                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="h3 font-weight-normal text-white element-fade-in-fix">
                                {{ 'website.prestation.music' | trans }}
                            </div>
                        </div>

                        <!-- Website Services Music Audio -->

                        <div class="col-12 p-3">
                            <div class="card h-100 text-center element-fade-in-right element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/audio.svg') }}"
                                         alt="{{ 'website.prestation.audio' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.audio_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.audio' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <!-- Website Services Music Score -->

                        <div class="col-12 p-3">
                            <div class="card h-100 text-center element-fade-in-right element-grow">
                                <div class="card-body">
                                    <img src="{{ asset('build/website/prestation/score.svg') }}"
                                         alt="{{ 'website.prestation.score' | trans }}" width="50px"
                                         height="50px"/>
                                    <p class="card-text text-muted">
                                        {{ 'website.prestation.score_detail' | trans }}
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <p class="card-text">
                                        {{ 'website.prestation.score' | trans }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
