{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.index.title' | trans }}
{% endblock %}
{% block body %}
    <!-- TODO: Add Labels -->
    <nav id="admin-navigation" aria-label="TODO">
        {% include 'navigation.html.twig' %}
    </nav>
    <div class="container-fluid">
        <div class="row m-5">
            <div class="col-12">
                <h1 class="h1 text-white">
                    {{ 'admin.articles.articles' | trans }}
                </h1>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-12 p-3">
                <a class="btn btn-info" href="{{ path('admin_post') }}">{{ 'admin.articles.create' | trans }}</a>
            </div>
            <div class="col-12">
                <table class="table text-center text-white">
                    <thead>
                    <tr>
                        <th scope="col">{{ 'admin.articles.created_by' | trans }}</th>
                        <th scope="col">{{ 'admin.articles.title' | trans }}</th>
                        <th scope="col">{{ 'admin.articles.date' | trans }}</th>
                        <th scope="col">{{ 'admin.articles.actions' | trans }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for article in articlePaginator.results %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_user', {'user': article.user.id}) }}">{{ article.user }}</a>
                            </td>
                            <td>{{ article.title }}</td>
                            <td>{{ article.date | date('d/m/Y H:i:s', 'Europe/Paris') }}</td>
                            <td>
                                <a class="btn btn-primary"
                                   href="{{ path('admin_article', {'article': article.id}) }}">
                                    {{ 'admin.articles.open' | trans }}
                                </a>
                                <a class="btn btn-danger"
                                   href="{{ path('admin_article_delete', {'article': article.id}) }}">
                                    {{ 'admin.articles.delete' | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <!-- TODO: Add Label -->
        <div class="row m-3">
            <div class="col-10">
                <p class="text-white">
                    {{ articlePaginator.firstResult }}-{{ articlePaginator.lastResult }}
                    {{ 'admin.articles.on' | trans }}
                    {{ articlePaginator.resultsCount }}
                </p>
            </div>
            <div class="col-2">
                <nav aria-label="TODO">
                    <ul class="pagination">
                        {% if articlePaginator.hasPreviousPage %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ path('admin_articles', {
                                       'page': articlePaginator.getPreviousPage
                                   }) }}"
                                   aria-label="{{ 'admin.articles.previous' | trans }}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">{{ 'admin.articles.previous' | trans }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#"
                                   aria-label="{{ 'admin.articles.previous' | trans }}">
                                    <span aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">{{ 'admin.articles.previous' | trans }}</span>
                                </a>
                            </li>
                        {% endif %}
                        {% if articlePaginator.hasNextPage %}
                            <li class="page-item">
                                <a class="page-link"
                                   href="{{ path('admin_articles', {
                                       'page': articlePaginator.getNextPage
                                   }) }}"
                                   aria-label="{{ 'admin.articles.next' | trans }}">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">{{ 'admin.articles.next' | trans }}</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#"
                                   aria-label="{{ 'admin.articles.next' | trans }}">
                                    <span aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">{{ 'admin.articles.next' | trans }}</span>
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
