{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.index.title' | trans }}
{% endblock %}
{% block body %}
    <nav id="admin-navigation">
        {% include 'navigation.html.twig' %}
    </nav>
    <div class="container">
        <div class="row m-5">
            <div class="col-12 col-sm-6 p-3">
                <div class="card text-center element-grow">
                    <div class="card-body">
                        <img src="{{ asset('build/admin/index/user.svg') }}"
                             alt="{{ 'admin.index.users' | trans }}" width="50px"
                             height="50px"/>
                        <div class="card-text">{{ 'admin.index.users' | trans }}</div>
                        <a href="{{ path('admin_users') }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="card text-center element-grow">
                    <div class="card-body">
                        <img src="{{ asset('build/admin/index/message.svg') }}"
                             alt="{{ 'admin.index.messages' | trans }}" width="50px"
                             height="50px"/>
                        <div class="card-text">{{ 'admin.index.messages' | trans }}</div>
                        <a href="{{ path('admin_messages') }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="card text-center element-grow">
                    <div class="card-body">
                        <img src="{{ asset('build/admin/index/article.svg') }}"
                             alt="{{ 'admin.index.articles' | trans }}" width="50px"
                             height="50px"/>
                        <div class="card-text">{{ 'admin.index.articles' | trans }}</div>
                        <a href="{{ path('admin_articles') }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="card text-center element-grow">
                    <div class="card-body">
                        <img src="{{ asset('build/admin/index/task.svg') }}"
                             alt="{{ 'admin.index.tasks' | trans }}" width="50px"
                             height="50px"/>
                        <div class="card-text">{{ 'admin.index.tasks' | trans }}</div>
                        <a href="{{ path('admin_missions') }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 p-3">
                <div class="card text-center element-grow">
                    <div class="card-body">
                        <img src="{{ asset('build/admin/index/project.svg') }}"
                             alt="{{ 'admin.index.projects' | trans }}" width="50px"
                             height="50px"/>
                        <div class="card-text">{{ 'admin.index.projects' | trans }}</div>
                        <a href="{{ path('admin_projects') }}" class="stretched-link"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
