{% extends 'base.html.twig' %}
{% block title %}
    {{ 'admin.missions.title' | trans }}
{% endblock %}
{% block body %}

    <!-- Admin Missions Body -->

    <div class="container-fluid">
        <div class="row mt-5">

            <!-- Admin Missions Title -->

            <div class="col-12 pt-3">
                <h1 class="h1 font-weight-normal text-white">
                    {{ 'admin.missions.title' | trans }}
                </h1>
            </div>
        </div>
        <div class="row mt-5">

            <!-- Admin Missions Create -->

            <div class="col-12">
                <button class="btn btn-lg btn-outline-light" data-toggle="modal" data-target="#missions-modal">
                    {{ 'admin.missions.create' | trans }}
                </button>
            </div>
        </div>
        <div class="row mt-5">

            <!-- Admin Missions Table -->

            <div class="col-12">
                <table class="table text-center text-white">

                    <!-- Admin Missions Table Head -->

                    <thead>
                    <tr>
                        <th scope="col">
                            {{ 'admin.missions.user' | trans }}
                        </th>
                        <th scope="col">
                            {{ 'admin.missions.mission' | trans }}
                        </th>
                        <th scope="col">
                            {{ 'admin.missions.status' | trans }}
                        </th>
                        <th scope="col">
                            {{ 'admin.missions.actions' | trans }}
                        </th>
                    </tr>
                    </thead>

                    <!-- Admin Missions Table Body -->

                    <tbody>
                    {% for mission in missionPaginator.results %}
                        <tr>
                            <td>
                                <a href="{{ path('admin_user', {'user': mission.user.id}) }}">
                                    {{ mission.user }}
                                </a>
                            </td>
                            <td>
                                {{ mission.title }}
                            </td>
                            {% if mission.done %}
                                <td>
                                    {{ 'admin.missions.done' | trans }}
                                </td>
                            {% else %}
                                <td>
                                    {{ 'admin.missions.todo' | trans }}
                                </td>
                            {% endif %}
                            <td>
                                <a class="btn btn-outline-primary"
                                   href="{{ path('admin_mission', {'mission': mission.id}) }}">
                                    {{ 'admin.missions.view' | trans }}
                                </a>
                                <a class="btn btn-outline-danger"
                                   href="{{ path('admin_mission_delete', {'mission': mission.id}) }}">
                                    {{ 'admin.missions.delete' | trans }}
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <!-- Admin Missions Pagination -->

        <div class="row justify-content-around">
            <div class="col-12">
                <p class="text-white">
                    {{ missionPaginator.firstResult }}-{{ missionPaginator.lastResult }}
                    {{ 'admin.missions.on' | trans }}
                    {{ missionPaginator.resultsCount }}
                </p>
            </div>
            <div class="col-auto">
                <nav aria-label="{{ 'admin.missions.pagination' | trans }}">
                    <ul class="pagination">

                        <!-- Admin Missions Previous Page -->

                        <li class="page-item {% if not missionPaginator.hasPreviousPage %}disabled{% endif %}">
                            <a class="page-link"
                               href="{{ path('admin_missions', {'page': missionPaginator.getPreviousPage}) }}"
                               aria-label="{{ 'admin.missions.previous' | trans }}">
                                <span aria-hidden="true">
                                    <i class="fa fa-chevron-left"></i>
                                </span>
                                <span class="sr-only">
                                    {{ 'admin.missions.previous' | trans }}
                                </span>
                            </a>
                        </li>

                        <!-- Admin Missions Next Page -->

                        <li class="page-item {% if not missionPaginator.hasNextPage %}disabled{% endif %}">
                            <a class="page-link"
                               href="{{ path('admin_missions', {'page': missionPaginator.getNextPage}) }}"
                               aria-label="{{ 'admin.missions.next' | trans }}">
                                <span aria-hidden="true">
                                    <i class="fa fa-chevron-right"></i>
                                </span>
                                <span class="sr-only">
                                    {{ 'admin.missions.next' | trans }}
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- Admin Missions Modal -->

        <div id="missions-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="missions-modal-title"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    {{ form_start(missionForm, {'action': path('admin_mission_create')}) }}
                    <div class="modal-header">

                        <!-- Admin Missions Modal Title -->

                        <h5 id="missions-modal-title" class="modal-title h5 font-weight-normal">
                            {{ 'admin.missions.create' | trans }}
                        </h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">

                            <!-- Admin Missions Modal Form Title -->

                            <div class="col-12">
                                {{ form_label(missionForm.title) }}
                                {{ form_widget(missionForm.title, {
                                    'attr': {
                                        'class': 'form-control'
                                    }
                                }) }}
                            </div>

                            <!-- Admin Missions Modal Form Description -->

                            <div class="col-12">
                                {{ form_label(missionForm.description) }}
                                {{ form_widget(missionForm.description, {
                                    'attr': {
                                        'class': 'form-control'
                                    }
                                }) }}
                            </div>

                            <!-- Admin Missions Modal Form Done -->

                            <div class="col-12">
                                {{ form_label(missionForm.done) }}
                                {{ form_widget(missionForm.done, {
                                    'attr': {
                                        'class': 'form-control'
                                    }
                                }) }}
                            </div>

                            <!-- Admin Missions Modal Form User -->

                            <div class="col-12">
                                {{ form_label(missionForm.user) }}
                                {{ form_widget(missionForm.user, {
                                    'attr': {
                                        'class': 'form-control'
                                    }
                                }) }}
                            </div>

                            <!-- Admin Missions Modal Form Link -->

                            <div class="col-12">
                                {{ form_label(missionForm.link) }}
                                {{ form_widget(missionForm.link, {
                                    'attr': {
                                        'class': 'form-control'
                                    }
                                }) }}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">

                        <!-- Admin Missions Modal Form Actions -->

                        <button class="btn btn-outline-secondary" type="button" data-dismiss="modal">
                            {{ 'admin.missions.cancel' | trans }}
                        </button>
                        <button class="btn btn-outline-primary" type="submit">
                            {{ 'admin.missions.submit' | trans }}
                        </button>
                    </div>
                    {{ form_end(missionForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
