{% extends 'base.html.twig' %}

{% block title %}
    {{ 'admin.index.title' | trans }}
{% endblock %}
{% block body %}
    <!-- TODO: Add Labels -->
    <nav id="website-navigation" aria-label="TODO">
        {% include 'website/navigation.html.twig' %}
    </nav>
    <div class="container-fluid pt-5 pb-5">
        <div class="row">
            <div class="col-12">
                <div class="h1 text-white">
                    {{ 'admin.users.users' | trans }}
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12">
                <div class="container-fluid text-white">
                    <div class="row">
                        <div class="col">
                            <table class="table table-hover table-dark text-center">
                                <thead>
                                <tr>
                                    <th scope="col">{{ 'admin.users.id' | trans }}</th>
                                    <th scope="col">{{ 'admin.users.first_name' | trans }}</th>
                                    <th scope="col">{{ 'admin.users.last_name' | trans }}</th>
                                    <th scope="col">{{ 'admin.users.email' | trans }}</th>
                                </tr>
                                </thead>
                                <tbody class="">
                                {% for user in userPaginator.results %}
                                    <tr>
                                        <th scope="row">{{ user.id }}</th>
                                        <td>{{ user.firstname }}</td>
                                        <td>{{ user.lastName }}</td>
                                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- TODO: Add Label -->
                    <div class="row">
                        <div class="col-11">
                            <span>
                                {{ userPaginator.firstResult }}-{{ userPaginator.lastResult }}
                                {{ 'admin.users.on' | trans }}
                                {{ userPaginator.resultsCount }}
                            </span>
                        </div>
                        <div class="col">
                            <nav aria-label="TODO">
                                <ul class="pagination">
                                    {% if userPaginator.hasPreviousPage %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="{{ path('admin_users', {
                                                   'page': userPaginator.getPreviousPage
                                               }) }}"
                                               aria-label="{{ 'admin.users.prev' | trans }}">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">{{ 'admin.users.prev' | trans }}</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#"
                                               aria-label="{{ 'admin.users.prev' | trans }}">
                                                <span aria-hidden="true">&laquo;</span>
                                                <span class="sr-only">{{ 'admin.users.prev' | trans }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% if userPaginator.hasNextPage %}
                                        <li class="page-item">
                                            <a class="page-link"
                                               href="{{ path('admin_users', {
                                                   'page': userPaginator.getNextPage
                                               }) }}"
                                               aria-label="{{ 'admin.users.next' | trans }}">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">{{ 'admin.users.next' | trans }}</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#"
                                               aria-label="{{ 'admin.users.next' | trans }}">
                                                <span aria-hidden="true">&raquo;</span>
                                                <span class="sr-only">{{ 'admin.users.next' | trans }}</span>
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
