<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
    <meta name="og:title" content="{{ 'base.title' | trans }}">
    <meta name="og:type" content="website">
    <meta name="og:locale" content="{{ app.request.locale }}_{{ app.request.locale | upper }}">
    <meta name="og:url" content="{{ app.request.uri }}">
    <!-- TODO: Add SEO Optimization -->
    <title>
        {% block title %}
            {{ 'base.title' | trans }}
        {% endblock %}
    </title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block header %}
    <header></header>
{% endblock %}
{% block body %}
    <div></div>
{% endblock %}
{% block footer %}
    <footer></footer>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
