<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#" lang="{{ app.request.locale }}">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R4C4QP6MM5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'G-R4C4QP6MM5');
    </script>
    <!-- Google Analytics -->
    <script>
        window.ga = window.ga || function () {
            (ga.q = ga.q || []).push(arguments)
        };
        ga.l = +new Date;
        ga('create', 'UA-170167500-1', 'auto');
        ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
    <!-- End Google Analytics -->
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="max-snippet:-1, max-image-preview:large, max-video-preview:-1"/>
    <meta name="author" content="{{ 'base.author' | trans }}"/>
    <meta name="description" content="{{ 'base.description' | trans }}"/>
    <meta name="og:url" content="{{ app.request.uri }}"/>
    <meta name="og:type" content="website"/>
    <meta name="og:title" content="{{ 'base.title' | trans }}"/>
    <meta name="og:description" content="{{ 'base.description' | trans }}"/>
    <meta name="og:image" content="{{ asset('build/logo.svg') }}"/>
    <meta name="og:locale" content="{{ app.request.locale }}_{{ app.request.locale | upper }}"/>
    {% for locale in getLocales() %}
        {% if app.request.locale != locale.code %}
            <meta name="og:locale:alternate" content="{{ locale.code }}_{{ locale.code | upper }}"/>
        {% endif %}
    {% endfor %}
    <meta name="og:site_name" content="{{ 'base.title' | trans }}"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="{{ 'base.author' | trans }}"/>
    <meta name="twitter:creator" content="{{ 'base.author' | trans }}"/>
    <meta name="twitter:title" content="{{ 'base.title' | trans }}"/>
    <meta name="twitter:description" content="{{ 'base.description' | trans }}"/>
    <meta name="twitter:creator" content="{{ 'base.author' | trans }}"/>
    <title>{% block title %}{{ 'base.title' | trans }}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>

<!-- Navigation -->
{% include 'navigation.html.twig' %}
{% block body %}{% endblock %}
</body>
</html>
