<p>
    {{ 'email.activation.introduction' | trans }}
    {{ firstName }},
</p>
<p>
    {{ 'email.activation.message' | trans }}
</p>
<p>
    <a href="{{ activationUrl }}">{{ activationUrl }}</a>
</p>
<p>
    {{ 'email.activation.signature' | trans }}
</p>
<p>
    {{ 'email.activation.name' | trans }}
</p>
