{% block email_activation %}

    <!-- E-Mail Activation Introduction -->

    <p>
        {{ 'email.activation.introduction' | trans }}
        {{ firstName }},
    </p>

    <!-- E-Mail Activation Message -->

    <p>
        {{ 'email.activation.message' | trans }}
    </p>

    <!-- E-Mail Activation Url -->

    <p>
        <a href="{{ activationUrl }}">
            {{ activationUrl }}
        </a>
    </p>

    <!-- E-Mail Activation Signature -->

    <p>
        {{ 'email.activation.signature' | trans }}
    </p>

    <!-- E-mail Activation Name -->

    <p>
        {{ 'email.activation.name' | trans }}
    </p>

{% endblock %}
